@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "outfit", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  }

.falling-shapes {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}

.shape {
  position: absolute;
  width: 3px;
  height: 3px;
  opacity: 0.1;
  background-color: whitesmoke; 
   box-shadow: 0 0 7px 1px #1aec0f;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.square {
  border-radius: 2px 2px;
}

@keyframes fall {
  0% {
    top: -10%;
    opacity: 0.2;
  }
  100% {
    top: 110%;
    opacity: 1;
  }
}

